.bigLabel, .label{
    margin-left:2rem;
    margin-top:0.5rem;
}

.bigLabel{
    font-size:2.3rem;
}
.label{
    margin-top:0.25rem;
}

input{
    margin-left:2rem;
    width:40vw;
}

.dateContainer{
    width:41vw;
    gap:2rem;
    display:flex;
}
